<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
<br><br><br><br>
<table *ngIf="arrBirds" id="dtBasicExample" class="col-sm-6 col-md-6 table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Restaurant name     
      </th>
      <th class="th-sm">Restaurant Address   
        </th> 
        <th class="th-sm">Restaurant Phone No     
          </th>
           <th class="th-sm">Item Name     
            </th>
      <th class="th-sm">Item image     
      </th>
      <th class="th-sm">Item Price  
      </th>
      <th class="th-sm">Item Category
      </th>
      
      <th class="th-sm">Quantity
        </th>
        
      <th class="th-sm">Action
      </th>
        
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bird of arrBirds; let i=index">
      <td>{{bird.res_name}}</td> 
        <td>{{bird.res_address}}</td>
        <td>{{bird.res_mobile_no}}</td>
        <td>{{bird.item_name}}</td>
        <td><img class="w3-image" src="C:\Users\HP\Pictures\Camera Roll\WIN_20170511_12_32_48_Pro.jpg" alt="Hamburger Catering" width="200" height="100"></td>
  
        <td>{{bird.item_price}}</td>
        <td>{{bird.item_category}}</td>
      <td>{{bird.item_count}}  </td>  
     <td>
      <button type="button" (click)="selected(i)"class="btn" style="margin-left: 44%;width: 102px;">Remove Item</button></td> 
    </tr>
    
  </tbody>
</table>

<button type="button" (click)="redirect()" class="btn" style="margin-left: 44%;width: 102px;">Buy Now </button>
</body>
</html>
