

<div class="bg-primary">

	<div class="unix-login">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<div class="login-content">
						<div class="login-logo">
							<a href="index-2.html"><span>Online Food Service</span></a>
						</div>
						<div class="login-form">
							<h4>User SignUp </h4>
							<h4>{{msg}}</h4>
							<form (submit)="onSubmit($event)" >
								<div class="form">
									<label>Username</label>
									<input type="text" class="form-control" id="username" placeholder="emails">
                </div>
                <div class="form">
									<label>Email address</label>
									<input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form">
									<label>date Of birth</label>
									<input type="date" class="form-control" id="dob" placeholder="date of birth">
                </div>
                                
								<div class="form">
									<label>Password</label>
									<input type="password"  id="password" class="form-control" placeholder="Password">
								</div>
								<button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>	
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

