
<div class="header">
    <div class="pull-left">
        <div class="logo"><a href="/add_restaurant"><span>Admin</span></a></div>
        <div class="logo"><a href="/login"><span>LogOut</span></a></div>
        <div class="logo"><a href="/adminmenu"><span>Managed Menu</span></a></div>
       
    </div>

   
</div>

<h2 style="margin-left: 44%;">Admin </h2>
<br><br><br>
<input id="myInput" type="text" class="form-control" placeholder="Enter Menu Item Name">
<table *ngIf="arrBirds" id="dtBasicExample" class="col-sm-6 col-md-6 table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Restaurant name     
      </th>
      <th class="th-sm">Restaurant Address   
        </th> 
        <th class="th-sm">Restaurant Phone No     
          </th>
           <th class="th-sm">Item Name     
            </th>
      <th class="th-sm">Item image     
      </th>
      <th class="th-sm">Item Price  
      </th>
      <th class="th-sm">Item Category
      </th>
      
      <th class="th-sm">Quantity
        </th>
      <th class="th-sm">Action
      </th>
        
    </tr>
  </thead>
  <tbody id="myTable">
    <tr *ngFor="let bird of arrBirds; let i=index">
      <td>{{bird.res_name}}</td> 
        <td>{{bird.res_address}}</td>
        <td>{{bird.res_mobile_no}}</td>
        <td>{{bird.item_name}}</td>
        <td><img class="w3-image" alt="Hamburger Catering" width="200" height="100"></td>
  
        <td>{{bird.item_price}}</td>
        <td>{{bird.item_category}}</td>
      <td>0</td>
      <td>
          <button type="button" (click)="selected(i)"class="btn" style="background-color: rgb(0, 245, 245);">Remove Item</button>
        </td>
    </tr>
  </tbody>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="select()" class="btn" style="margin-left: 161%;width: 252px; color: green;background-color: red">Back To Add Restaurant Details</button>
</table>
